*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*:focus-visible:not(input):not(textarea) {
    outline: solid .25rem var(--cn);
    outline-offset: .35rem;
    border-radius: 5px;
}

:root {
    --bg: rgb(24, 26, 32);
    --bg-9: rgba(24, 26, 32, .9);
    --bg-8: rgba(24, 26, 32, .8);
    --bg-7: rgba(24, 26, 32, .7);
    --bg-6: rgba(24, 26, 32, .6);
    --bg-5: rgba(24, 26, 32, .5);
    --bg-4: rgba(24, 26, 32, .4);
    --bg-3: rgba(24, 26, 32, .3);
    --bg-2: rgba(24, 26, 32, .2);
    --bg-1: rgba(24, 26, 32, .1);
    --cn: rgb(245, 245, 255);
    --cn-9: rgba(245, 245, 255, .9);
    --cn-8: rgba(245, 245, 255, .8);
    --cn-7: rgba(245, 245, 255, .7);
    --cn-6: rgba(245, 245, 255, .6);
    --cn-5: rgba(245, 245, 255, .5);
    --cn-4: rgba(245, 245, 255, .4);
    --cn-3: rgba(245, 245, 255, .3);
    --cn-2: rgba(245, 245, 255, .2);
    --cn-1: rgba(245, 245, 255, .1);
    --int: rgb(65, 10, 216);
    --int-9: rgba(65, 10, 216, .9);
    --int-8: rgba(65, 10, 216, .8);
    --int-7: rgba(65, 10, 216, .7);
    --int-6: rgba(65, 10, 216, .6);
    --int-5: rgba(65, 10, 216, .5);
    --int-4: rgba(65, 10, 216, .4);
    --int-3: rgba(65, 10, 216, .3);
    --int-2: rgba(65, 10, 216, .2);
    --int-1: rgba(65, 10, 216, .1);
}

html,
body,
#app {
    height: 100%;
    overflow-x: hidden;
}

body {
    color: var(--cn);
    background: var(--bg);
    position: relative;
}