*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*:focus-visible:not(input):not(textarea) {
    outline: solid .25rem var(--content);
    outline-offset: .35rem;
    border-radius: 5px;
}

:root {
    --main: rgb(24, 26, 32);
    --main-9: rgba(24, 26, 32, .9);
    --main-8: rgba(24, 26, 32, .8);
    --main-7: rgba(24, 26, 32, .7);
    --main-6: rgba(24, 26, 32, .6);
    --main-5: rgba(24, 26, 32, .5);
    --main-4: rgba(24, 26, 32, .4);
    --main-3: rgba(24, 26, 32, .3);
    --main-2: rgba(24, 26, 32, .2);
    --main-1: rgba(24, 26, 32, .1);
    --content: rgb(245, 245, 255);
    --content-9: rgba(245, 245, 255, .9);
    --content-8: rgba(245, 245, 255, .8);
    --content-7: rgba(245, 245, 255, .7);
    --content-6: rgba(245, 245, 255, .6);
    --content-5: rgba(245, 245, 255, .5);
    --content-4: rgba(245, 245, 255, .4);
    --content-3: rgba(245, 245, 255, .3);
    --content-2: rgba(245, 245, 255, .2);
    --content-1: rgba(245, 245, 255, .1);
    --interactive: rgb(65, 10, 216);
}

html,
body,
#app {
    height: 100%;
    overflow-x: hidden;
}

body {
    color: var(--content);
    background: var(--main);
    position: relative;
}