*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*:focus-visible:not(input):not(textarea) {
    outline: solid .25rem var(--content);
    outline-offset: .35rem;
    border-radius: 5px;
}

:root {    
    --main: rgb(var(--mainRGB));
    --main-9: rgba(var(--mainRGB), .9);
    --main-8: rgba(var(--mainRGB), .8);
    --main-7: rgba(var(--mainRGB), .7);
    --main-6: rgba(var(--mainRGB), .6);
    --main-5: rgba(var(--mainRGB), .5);
    --main-4: rgba(var(--mainRGB), .4);
    --main-3: rgba(var(--mainRGB), .3);
    --main-2: rgba(var(--mainRGB), .2);
    --main-1: rgba(var(--mainRGB), .1);
    --content: rgb(var(--contentRGB));
    --content-9: rgba(var(--contentRGB), .9);
    --content-8: rgba(var(--contentRGB), .8);
    --content-7: rgba(var(--contentRGB), .7);
    --content-6: rgba(var(--contentRGB), .6);
    --content-5: rgba(var(--contentRGB), .5);
    --content-4: rgba(var(--contentRGB), .4);
    --content-3: rgba(var(--contentRGB), .3);
    --content-2: rgba(var(--contentRGB), .2);
    --content-1: rgba(var(--contentRGB), .1);
    --interactive: rgb(var(--interactiveRGB));
    --interactive-9: rgba(var(--interactiveRGB), .9);
    --interactive-8: rgba(var(--interactiveRGB), .8);
    --interactive-7: rgba(var(--interactiveRGB), .7);
    --interactive-6: rgba(var(--interactiveRGB), .6);
    --interactive-5: rgba(var(--interactiveRGB), .5);
    --interactive-4: rgba(var(--interactiveRGB), .4);
    --interactive-3: rgba(var(--interactiveRGB), .3);
    --interactive-2: rgba(var(--interactiveRGB), .2);
    --interactive-1: rgba(var(--interactiveRGB), .1);
}

[data-theme="dark"] {
    --mainRGB: 32, 32, 32;
    --contentRGB: 245, 245, 255;
    --interactiveRGB: 0, 120, 215;
}

[data-theme="light"] {
    --mainRGB: 247, 250, 250;
    --contentRGB: 6, 53, 122;
    --interactiveRGB: 252, 35, 26;
}

::selection{
    background-color: var(--interactive);
    color: var(--content);
}

::placeholder {
    color: var(--content-7);
    opacity: 1;
}

body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--content);
  border-radius: 10px;
}

html,
body,
#app {
    height: 100%;
    overflow-x: hidden;
}

body {
    color: var(--content) !important;
    background-color: var(--main) !important;
    position: relative;

    transition: background-color .5s, color .2s;
}

ion-icon {
    pointer-events: none;
    font-size: 1.5em;
    color: inherit;
    visibility: visible;
}

img {
    user-select: none;
}

button,
input,
input,
textarea,
a {
    outline: none;
    border: none;
    background-color: transparent;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

button{
    user-select: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

textarea::-webkit-scrollbar {
    width: .5rem;
}

textarea::-webkit-scrollbar-track {
    background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: var(--content);
  border-radius: 2px;
}

.button, .ghostButton, .baseButton, .link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1ch;

    width: fit-content;
    height: fit-content;
    padding: .325em .75em;

    border-radius: 10px;

    font-weight: 700;
    /* white-space: nowrap; */

    transition: .2s all;
}

.button {
    border: 1px solid var(--interactive);
    background-color: var(--interactive-7);
}

.button:hover,
.button:focus-visible {
    background-color: var(--interactive);
}

[data-theme="light"] .button {
    background-color: var(--interactive-9);
    color: var(--main);
}

.ghostButton {
    border: 2px solid var(--interactive);
    background-color: transparent;
}

.ghostButton:hover,
.ghostButton:focus-visible {
    background-color: var(--interactive-3);
}

.baseButton {
    background-color: transparent;
}

.baseButton:hover,
.baseButton:focus-visible {
    background-color: var(--content-1);
}

.baseButton.active {
    background-color: var(--content-3);
}

.link {
    position: relative;

    padding: .3em 0;
}

.link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100%;
    height: .25em;
    border-radius: 4px;
    background-color: var(--interactive);

    transform: scaleX(0);
    transform-origin: right;

    transition: transform .2s ease-in-out;
}

.link:hover::before,
.link:focus-visible::before,
.link.active::before {
    transform-origin: left;
    transform: scaleX(1);
}

@media (orientation: portrait) {
    button {
        cursor: default;
    }
}