@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

*:focus-visible{
    outline: solid 4px var(--content);
    outline-offset: 5px;
    border-radius: 5px;
}

:root {
    --main: #1d212a;
    --mainDim: #1d212ab7;
    --mainDimer: #1d212a5d;
    --content: #F7F7FF;
    --contentDim: #f7f7ffb7;
    --interative: #D44508;
    --interativeDim: #d44508b7;
}

::selection{
    background-color: var(--interativeDim);
    color: var(--content);
}

html,
body,
#app {
    height: 100%;
    overflow-x: hidden;
}

body {
    color: var(--content);
    background: var(--main);
    position: relative;
}

ion-icon {
    pointer-events: none;
    font-size: 1.5rem;
    color: inherit;
    visibility: visible;
}

button{
    user-select: none;
}

button,
input {
    outline: none;
    border: none;
    padding: 0;
    background-color: transparent;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 10px 40px;
    margin: 0 5px;
    gap: 10px;

    background-color: var(--interativeDim);
    border-radius: 15px;

    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;

    width: fit-content;
    height: fit-content;

    transition: all .2s;
}

.button:hover,
.button:focus {
    background-color: var(--interative);
    padding: 10px 45px;
    margin: 0;
}

.ghost {
    background-color: transparent;
    border: var(--interative) 1px solid;
}

.ghost:hover,
.ghost:focus {
    background-color: #d4450811;
}

.link {
    position: relative;
    gap: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding: 6px 0;

    width: fit-content;
    height: fit-content;
}

.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--interative);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.link:hover::before,
.link:focus::before {
    transform-origin: left;
    transform: scaleX(1);
}

.link.active::before {
    transform-origin: left;
    transform: scaleX(1);
}

a {
    color: inherit;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 5.6rem;
    line-height: 123px;
    max-width: 70vw;
}

p{
    font-style: normal;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 35px;
}